@import '@/styles/dimensions.scss';
@import '@/styles/breakpoints.scss';
@import '@/styles/helpers.scss';
@import '@/styles/themify.scss';

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  width: $container-width;
  padding: $container-padding;

  .characters {
    margin: 4rem 0;
    padding-bottom: 3rem;
    width: 100%;
    display: grid;
    grid-gap: 2.4rem;
    grid-template-columns: repeat(2, minmax(0, 1fr));

    @include md {
      grid-template-columns: repeat(3, minmax(200px, 1fr));
    }

    @include xl {
      grid-template-columns: repeat(4, minmax(200px, 1fr));
    }

    .character-container {
      display: flex;

      .character {
        flex: 1;
        margin: 0 auto;
      }
    }
  }

  .loader {
    animation: scaleIn 0.1s linear forwards;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    opacity: 0;
    transition: opacity 0.2s linear;
  }

  .button {
    position: fixed;
    bottom: 2.4rem;
    min-width: 5.8rem;
    transition: min-width 0.1s linear, background-color 0.2s ease-in-out, color 0.2s ease-in-out;

    &.scroll {
      animation: scaleIn 0.3s ease forwards;
      svg {
        width: 90%;
        height: 90%;
        animation: bounce 1s linear infinite;
      }
    }

    &.load-more {
      min-width: 20rem;
    }

    &.loading {
      min-width: 5.8rem;
      width: 5.8rem;

      @include withThemes {
        background-color: themed('buttonBackgroundColor');
      }

      .loader {
        opacity: 1;
      }
    }
  }
}

@keyframes scaleIn {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes bounce {
  0% {
    transform: translateY(-2px);
    opacity: 1;
  }
  50% {
    transform: translateY(2px);
    opacity: 0.8;
  }
  100% {
    transform: translateY(-2px);
    opacity: 1;
  }
}
