@import '@/styles/dimensions.scss';
@import '@/styles/breakpoints.scss';

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  width: $container-width;
  padding: $container-padding;

  @include sm {
    padding: $container-padding-l;
  }

  .characters {
    padding: 0 0 6.4rem;
    width: 100%;
    display: grid;
    grid-gap: 1.6rem;
    grid-template-columns: repeat(2, minmax(0, 1fr));

    @include sm {
      padding: 4rem 0 7.4rem;
      grid-gap: 2.4rem;
    }

    @include md {
      grid-template-columns: repeat(3, minmax(200px, 1fr));
    }

    @include xl {
      grid-template-columns: repeat(4, minmax(200px, 1fr));
    }

    .character-container {
      display: flex;

      .character {
        flex: 1;
        margin: 0 auto;
      }
    }
  }
}
