.container {
  margin: 6rem 0 8rem;
  padding: 3rem 0;
  width: min(42rem, 100%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;

  h2 {
    font-size: 2.4rem;
    font-weight: 400;
    margin: 2rem 0 1.2rem;
  }

  p {
    margin: 0 0 0.3rem;
  }
}
