@import '@/styles/helpers.scss';

$default: (
  headerBackgroundImage: url('#{$path-to-assets}/header-bg.jpeg'),
  headerBackgroundColor: linear-gradient(to right, #10759a, #1aa4b1),
  cardBackgroundColor: #f9f9f9,
  cardTextColor: #000,
  cardBoxShadow: 1px 1px 3px 1px rgb(71, 71, 71),
  buttonBackgroundColor: linear-gradient(to right, #076b8e, #09a095),
  buttonActiveBackgroundColor: linear-gradient(to right, #076b8e, #09a095),
  buttonBorder: none,
  buttonTextColor: #fff,
  buttonActiveTextColor: #e2e2e2,
  searchButtonBackgroundColor: #9ebd2f,
  searchButtonTextColor: #fff,
  errorBackgroundColor: #fff,
  errorTextColor: #000,
  errorBorderColor: #cd4242,
);
