@import '@/styles/helpers.scss';

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell,
    Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-size: 62.5%;
  height: 100vh;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  font-size: 1.6rem;
  box-sizing: border-box;
}

button,
input,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  padding: 0;
  margin: 0;
  border: none;
  background-color: inherit;
}

button {
  cursor: pointer;
}

.theme {
  overflow-x: hidden;
  min-height: 100vh;

  &--default {
    background: #01a4bf;
    background: -webkit-linear-gradient(right, #01a4bf, #00bead);
    background: linear-gradient(to right, #01a4bf, #00bead);
    color: #000;
  }

  &--dark {
    background: url('#{$path-to-assets}/bg-dark.png');
    background-position: center;
    color: #fff;
  }
}
