@import '@/styles/helpers.scss';
@import '@/styles/themes/default.scss';
@import '@/styles/themes/dark.scss';
@import '@/styles/themes/toxic.scss';

$themes: (
  default: $default,
  dark: $dark,
  toxic: $toxic,
);
