$themes: (
  default: (
    headerBackgroundColor: #0a8497,
    cardBackgroundColor: #f9f9f9,
    cardTextColor: #000,
    cardBoxShadow: 1px 1px 3px 1px rgb(71, 71, 71),
    buttonBackgroundColor: #0c8498,
    buttonActiveBackgroundColor: #fff,
    buttonBorderColor: #0c8498,
    buttonTextColor: #fff,
    buttonActiveTextColor: #0c8498,
    searchButtonBackgroundColor: #9ebd2f,
    searchButtonTextColor: #fff,
  ),
  dark: (
    headerBackgroundColor: #0e1a27,
    cardBackgroundColor: rgba(27, 32, 42, 0.6),
    cardTextColor: #fff,
    cardBoxShadow: 0px 0px 3px 2px rgba(85, 85, 85, 1),
    buttonBackgroundColor: #0e1a27,
    buttonActiveBackgroundColor: #b2d143,
    buttonBorderColor: #b2d143,
    buttonTextColor: #fff,
    buttonActiveTextColor: #fff,
    searchButtonBackgroundColor: #9ebd2f,
    searchButtonTextColor: #fff,
  ),
);
