$themes: (
  default: (
    cardBackgroundColor: #0c8498,
    cardTextColor: #fff,
    buttonBackgroundColor: #0c8498,
    buttonActiveBackgroundColor: #fff,
    buttonBorderColor: #0c8498,
    buttonTextColor: #fff,
    buttonActiveTextColor: #0c8498,
  ),
  dark: (
    cardBackgroundColor: rgba(17, 17, 17, 0.6),
    cardTextColor: #fff,
    buttonBackgroundColor: #111111,
    buttonActiveBackgroundColor: #b2d143,
    buttonBorderColor: #b2d143,
    buttonTextColor: #fff,
    buttonActiveTextColor: #fff,
  ),
);
