@import '@/styles/helpers.scss';
@import '@/styles/breakpoints.scss';
@import '@/styles/themify.scss';

$width-load-more-button: 16rem;
$width-load-more-button-l: 20rem;
$width-scroll-button: 5rem;
$width-scroll-button-l: 5.8rem;

.loader {
  animation: scaleIn 0.1s linear forwards;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  opacity: 0;
  transition: opacity 0.2s linear;
}

.container {
  position: fixed;
  bottom: 2.4rem;

  @include sm {
    bottom: 3rem;
  }

  .button {
    min-width: $width-scroll-button;
    transition: min-width 0.1s linear, background-color 0.2s ease-in-out, color 0.2s ease-in-out;

    @include sm {
      min-width: $width-scroll-button-l;
    }

    &.scroll {
      min-width: $width-scroll-button;
      animation: scaleIn 0.3s ease forwards;

      @include sm {
        min-width: $width-scroll-button-l;
      }

      svg {
        width: 90%;
        height: 90%;
        animation: bounce 1s linear infinite;
      }
    }

    &.load-more {
      min-width: $width-load-more-button;

      @include sm {
        min-width: $width-load-more-button-l;
      }
    }

    &.loading {
      min-width: $width-scroll-button;
      width: $width-scroll-button;
      cursor: default;

      @include sm {
        min-width: $width-scroll-button-l;
        width: $width-scroll-button-l;
      }

      @include withThemes {
        background-color: themed('buttonBackgroundColor');
      }

      .loader {
        opacity: 1;
      }
    }
  }
}

@keyframes scaleIn {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes bounce {
  0% {
    transform: translateY(-2px);
    opacity: 1;
  }
  50% {
    transform: translateY(2px);
    opacity: 0.8;
  }
  100% {
    transform: translateY(-2px);
    opacity: 1;
  }
}
