@import '@/styles/dimensions.scss';
@import '@/styles/breakpoints.scss';
@import '@/styles/helpers.scss';
@import '@/styles/themify.scss';

.container {
  height: 38rem;
  position: relative;

  .background {
    background-size: cover;
    background-position: center 40%;
    background-repeat: no-repeat;
    height: inherit;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
    animation: expandMenu 0.2s ease forwards;

    @include withThemes {
      background-image: themed('headerBackgroundImage');
    }
  }

  .header {
    position: absolute;
    top: 0;
    left: 0;
    height: inherit;
    width: 100%;
    z-index: 2;
    transition: background-color 0.3s linear;
    background-color: rgba(0, 0, 0, 0.2);
    animation: expandMenu 0.2s ease forwards;

    .content {
      margin: 0 auto;
      position: relative;
      width: $container-width;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      height: 100%;

      .logo {
        position: absolute;
        margin: 3rem 0;
        text-align: center;
        animation: moveLogoToCenter 0.3s ease forwards;

        svg {
          transition: height 0.3s linear;
          width: min(100%, 30rem);
          height: 10rem;

          @include md {
            width: 50rem;
            height: 15rem;
          }
        }
      }

      .search {
        position: absolute;
        animation: moveSearchToBottom 0.3s ease forwards;
        width: min(calc(100% - 4.8rem), 40rem);
      }

      .theme {
        position: absolute;
        top: 3rem;
        right: 2.4rem;
      }
    }
  }

  &.fixed {
    .background {
      animation: fixMenuOnTop 0.3s ease forwards;
    }

    .header {
      animation: fixMenuOnTop 0.3s ease forwards;
      box-shadow: 0 0 0.4rem 0.2rem rgba(31, 31, 31, 0.4);

      @include withThemes {
        background: themed('headerBackgroundColor');
      }

      .logo {
        margin: 0;
        top: auto;
        animation: moveLogoToLeft 0.3s ease forwards;

        svg {
          width: 13rem;
          height: 5rem;
        }
      }

      .search {
        bottom: auto;
        animation: moveSearchToTop 0.3s ease forwards;
        transition: width 0.3s linear, opacity 0.3s linear, visibility 0.3s linear;
        overflow: hidden;
        width: 3rem;
        visibility: hidden;
        opacity: 0;

        @include sm {
          width: min(40%, 40rem);
          visibility: visible;
          opacity: 1;
        }
      }
    }
  }
}

@keyframes moveLogoToLeft {
  0% {
    top: 0;
    height: 15rem;
    width: 100%;
    left: 50%;
    transform: translateX(-50%);
  }

  100% {
    top: auto;
    left: 2.4rem;
    transform: none;
    height: 5rem;
    width: 12rem;
  }
}

@keyframes moveLogoToCenter {
  0% {
    top: 0;
    left: 2.4rem;
    height: 5rem;
    width: 12rem;
    transform: none;
  }

  100% {
    height: 15rem;
    width: 100%;
    top: 8rem;
    left: 50%;
    transform: translate(-50%);
  }
}

@keyframes moveSearchToTop {
  0% {
    bottom: 2rem;
    transform: none;
  }

  100% {
    bottom: 50%;
    transform: translateY(50%);
  }
}

@keyframes moveSearchToBottom {
  0% {
    bottom: 50%;
    transform: translateY(50%);
  }

  100% {
    bottom: 4rem;
    transform: none;
  }
}

@keyframes fixMenuOnTop {
  0% {
    height: 13rem;
    position: absolute;
  }
  100% {
    height: 10rem;
    position: fixed;
  }
}

@keyframes expandMenu {
  0% {
    height: 10rem;
    position: fixed;
  }
  100% {
    height: 38rem;
    position: absolute;
  }
}
