@import '@/styles/breakpoints.scss';
@import '@/styles/themify.scss';

.character {
  display: flex;
  flex-direction: column;
  width: 100%;
  border-radius: 0.8rem;
  overflow: hidden;
  max-width: 35rem;
  cursor: pointer;

  @include withThemes {
    background-color: themed('cardBackgroundColor');
    color: themed('cardTextColor');
    box-shadow: themed('cardBoxShadow');
  }

  @include lg {
    flex-direction: row;
    max-width: none;
  }

  .image {
    width: 100%;
    height: auto;
    object-fit: cover;
    aspect-ratio: 5/4;

    @include lg {
      max-width: 40%;
    }
  }

  .description {
    display: flex;
    flex: 1;
    flex-direction: column;
    padding: 1.2rem;

    @include lg {
      padding: 2rem;
    }

    .name {
      font-size: 2rem;
      line-height: 1.2;
      margin: 0 0 1rem;
      overflow: hidden;
      text-overflow: ellipsis;

      @include lg {
        font-size: 2.4rem;
        margin: 0 0 1.2rem;
      }
    }

    .status {
      display: flex;
      align-items: center;
      margin-bottom: 0.4rem;

      &__icon {
        display: inline-block;
        height: 1.2rem;
        width: 1.2rem;
        border-radius: 50%;
        margin-right: 0.8rem;
        background-color: #ccca44;

        &--alive {
          background-color: #55cc44;
        }

        &--dead {
          background-color: #d63d2e;
        }
      }

      span {
        font-size: 1.2rem;

        @include lg {
          font-size: 1.6rem;
        }
      }
    }

    .info {
      display: none;

      @include sm {
        display: block;
      }

      margin-top: 0.8rem;

      @include lg {
        margin-top: 1.2rem;
      }

      .label {
        color: #828282;
        font-size: 1.2rem;
        line-height: 1.5;

        @include lg {
          font-size: 1.4rem;
        }
      }

      .value {
        font-size: 1.4rem;
        line-height: 1.5;

        @include lg {
          font-size: 1.6rem;
        }
      }
    }
  }
}
